@font-face {
    font-family: tr2n;
    src: url(fonts/tr2n/Tr2n.ttf);
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes spin-backwards {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

@keyframes lock-finger-show {
    0% {
      transform: scale(0.5);
      opacity: 0;
      background-color: rgba(255, 255, 255, 0);
      }
    10% {
      transform: scale(1);
      opacity: 0.4;
      background-color: rgba(255, 255, 255, 0);
      }
    30% {
      transform: scale(1);
      opacity: 1;
      background-color: rgba(255, 255, 255, 0);
      }
    100% {
      transform: scale(1);
      opacity: 1;
      background-color: rgba(255, 255, 255, 0.1);
      }
}

body {
  background-color: #000a0d;
  margin: 0;
  cursor: none;
}

#templates {
  display: none;
}

#stage {
  position: fixed;
  width: 100%;
  height: 100%;
}

#stage .hex-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

polygon.hex-polygon {
  fill-opacity: 0;
  stroke: rgba(32, 204, 255, 0.1);
  stroke-width: 4px;
}

polygon.hex-polygon.centre {
  stroke-opacity: 0.2;
}

polygon.hex-polygon.pad {
  fill-opacity: 0.05;
  fill: #62afc9;
  transition: transform 0.5s, stroke 0.5s;
  transform: scale(1);
  transform-origin: 50% 50%;
}

polygon.hex-polygon.pad:hover {
  transform: scale(1.3);
  stroke: #62afc9;
  fill-opacity: 0.1;
}

#stage .widget-centre {
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
}

#stage .widget {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s, opacity 0.2s;
}

#stage .widget.hidden {
  transform: scale(0);
  opacity: 0;
}

#stage .widget-centre .clock .text {
  position: absolute;
  color: rgba(32, 204, 255, 0.7);
  font-size: 120px;
  font-family: "Ubuntu", "tr2n";
  line-height: 100%;
  width: 600px;
  top: -60px;
  left: -300px;
  text-align: center;
  text-shadow: 0px 0px 10px rgba(32, 204, 255, 0.7);
}

#stage .widget-centre .clock .lock {
  position: absolute;
  top: 50px;
  left: -100px;
}

#stage .interaction {
  position: absolute;
  width: 100%;
  height: 100%;
}

#stage .interaction .touch-overlay {
  position: absolute;
  height: 0;
  width: 0;
}

#stage .interaction .touch-overlay .ring-1 {
  position: absolute;
  top: -42px;
  left: -42px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  border: 2px solid rgba(32, 204, 255, 0.5);
}

#stage .interaction .touch-overlay .ring-2 {
  position: absolute;
  top: -35px;
  left: -35px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 5px solid rgba(32, 204, 255, 1);
  box-shadow: inset 0px 0px 10px rgba(32, 204, 255, 0.7), 0px 0px 10px rgba(32, 204, 255, 0.7);
}

#stage .interaction .touch-overlay .ring-3 {
  position: absolute;
  top: -63px;
  left: -63px;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 3px solid rgba(0, 233, 81, 1);
  box-shadow: inset 0px 0px 10px rgba(0, 233, 81, 0.7), 0px 0px 10px rgba(0, 233, 81, 0.7);
}

#stage .interaction .touch-overlay .arcs-1 {
  position: absolute;
  top: -56px;
  left: -56px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 6px solid rgba(32, 204, 255, 0.5);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

#stage .interaction .touch-overlay .arcs-2 {
  position: absolute;
  top: -33px;
  left: -33px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 3px solid rgba(32, 204, 255, 0.8);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

#stage .interaction .touch-overlay .fill-1, #stage .interaction .touch-overlay .fill-2 {
  position: absolute;
  top: -21px;
  left: -21px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

#stage .interaction .touch-overlay .fill-1 {
  background-color: rgba(32, 204, 255, 0.4);
  border: 1px solid rgba(32, 204, 255, 1);
  box-shadow: inset 0px 0px 10px rgba(32, 204, 255, 0.7), 0px 0px 10px rgba(32, 204, 255, 0.7);
}

#stage .interaction .touch-overlay .fill-2 {
  background-color: rgba(0, 233, 81, 0.4);
  border: 1px solid rgba(0, 233, 81, 1);
  box-shadow: inset 0px 0px 10px rgba(0, 233, 81, 0.7), 0px 0px 10px rgba(0, 233, 81, 0.7);
}

#stage .interaction .touch-overlay .crosshairs-1 .line::before, #stage .interaction .touch-overlay .crosshairs-1 .line::after {
  content: '';
  display: block;
  position: absolute;
  top: -40px;
  left: 0;
  height: 20px;
  width: 0;
  border-left: 1px solid rgba(32, 204, 255, 0.4);
}

#stage .interaction .touch-overlay .crosshairs-1 .line::before {
  top: -40px;
}

#stage .interaction .touch-overlay .crosshairs-1 .line::after {
  top: 20px;
}

#stage .interaction .touch-overlay .crosshairs-2 .line::before, #stage .interaction .touch-overlay .crosshairs-2 .line::after {
  content: '';
  display: block;
  position: absolute;
  top: -40px;
  left: 0;
  height: 15px;
  width: 0;
  border-left: 3px solid rgba(32, 204, 255, 0.7);
}

#stage .interaction .touch-overlay .crosshairs-2 .line::before {
  top: -40px;
}

#stage .interaction .touch-overlay .crosshairs-2 .line::after {
  top: 25px;
}

#stage .interaction .touch-overlay .crosshairs .line.r90 {
  transform: rotate(90deg);
}

#stage .interaction .touch-overlay .crosshairs .line.r45 {
  transform: rotate(45deg);
}

#stage .interaction .touch-overlay .crosshairs .line.r135 {
  transform: rotate(135deg);
}

#stage .interaction .touch-overlay .rotate-1 {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#stage .interaction .touch-overlay .rotate-2 {
  animation-name: spin-backwards;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#stage .interaction .touch-overlay .rotate-3 {
  animation-name: spin-backwards;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#stage .interaction .touch-overlay.lock-finger .circle {
  position: absolute;
  top: -53px;
  left: -53px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 3px solid rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.7), 0px 0px 10px rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  animation-name: lock-finger-show;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

#stage .interaction .touch-overlay.lock-finger .arcs-2 {
  border-color: rgba(255, 255, 255, 0.8);
  border-top-color: transparent;
  border-bottom-color: transparent;
}
